# This file may be used using:
# $ pip install -r pip_requirements.txt
# platform: win-64
attrs==21.4.0
bcrypt==3.2.0
cellpose==2.2
cffi==1.15.0
click==7.1.2
colorama==0.4.4
cryptography==36.0.1
fastremap==1.12.2
hdmf==3.2.1
imagecodecs==2023.3.16
importlib-metadata==4.11.2
importlib-resources==5.4.0
jsonschema==4.4.0
llvmlite==0.36.0
numba==0.53.0
numpy
natsort==8.1.0
opencv-python-headless==4.5.5.64
pandas==1.4.1
paramiko==2.9.2
pycparser==2.21
pynacl==1.5.0
pynwb==2.0.0
pyqt5==5.15.4
pyqt5-plugins==5.15.4.2.2
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
pyqtgraph==0.12.3
pyrsistent==0.18.1
python-dotenv==0.19.2
pytz==2021.3
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
rastermap==0.1.3
ruamel-yaml==0.17.21
ruamel-yaml-clib==0.2.6
sbxreader==0.2.0
scanimage-tiff-reader==1.4.1
scipy==1.10.1
suite2p==0.12.0
tifffile==2022.2.9
torch==1.11.0
tqdm==4.64.0
typing-extensions==4.1.1
zipp==3.7.0
